/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

	.hero h1{
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 50px;
}
.hero_img{
	margin-top: 90px;
	margin-left: 80px;
}
.s_title{
	font-size: 37px;
}

.dish_wrap{
	padding: 11px 5px 9px;
}
.d_title{
	font-size: 18px;
}
.d_info{
	font-size: 14px;
}
.price{
	top: 90px;

}
.w_title{
	font-size: 30px;
}
.w_p{
	font-size: 12px;
}
.c_title{
	font-size: 35px;
}
.c_p{
	font-size: 12px;
}
.cl li{
	font-size: 11px;
}
.cimg{
	margin-top: 30px;
}
.t_title {
    font-size: 30px;
}
.t_text{
	font-size: 15px;
}
.t_text1{
	font-size: 13px;
}
.c_h1{
    margin: 58px 0px;
    font-size: 22px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.hero h1{
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 50px;
}
.hero_img{
	margin-top: 90px;
	margin-left: 80px;
}
.s_title{
	font-size: 40px;
}

.dish_wrap{
	padding: 20px 30px 9px;
}
.d_title{
	font-size: 18px;
}
.price{
	top: 90px;

}
.w_title{
	font-size: 30px;
}
.w_p{
	font-size: 12px;
}
.c_title{
	font-size: 50px;
}
.c_p{
	font-size: 12px;
}
.cl li{
	font-size: 12px;
}
.t_title {
    font-size: 35px;
}
.t_text{
	font-size: 15px;
}
.t_text1{
	font-size: 15px;
}
.c_h1{
    margin: 58px 0px;
    font-size: 32px;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.hero h1{
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 60px;
}
.hero_img{
	margin-top: 90px;
	margin-left: 80px;
}
.s_title{
	font-size: 47px;
}

.dish_wrap{
	padding: 20px 30px 9px;
}
.d_title{
	font-size: 18px;
}
.price{
	top: 90px;

}
.w_title{
	font-size: 40px;
}
.w_p{
	font-size: 12px;
}
.c_title{
	font-size: 50px;
}
.t_title {
    font-size: 35px;
}
.c_h1{
    margin: 58px 0px;
    font-size: 41px;
}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


.hero h1{
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 60px;
}
.hero_img{
	margin-top: 90px;
}

.s_title{
	font-size: 47px;
}

.dish_wrap{
	padding: 20px 30px 9px;
}
.d_title{
	font-size: 18px;
}
.price{
	top: 65px;

}
.c_h1{
    margin: 58px 0px;
}
.c_submit{
	padding-left: 4px;
}



}

/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.s_title{
		font-size: 56px;
	}
	.c_h1{
    margin: 58px 0px;
}
.c_submit{
	padding-left: 6px;
}

}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}